In [2]:
import psycopg2

In [ ]:

CREATE TABLE IF NOT EXISTS aliment (
  id SERIAL PRIMARY KEY,
  nom VARCHAR(100) NOT NULL,
  marque VARCHAR(100) DEFAULT NULL,
  sucre FLOAT DEFAULT NULL,
  calories INTEGER NOT NULL,
  graisses FLOAT DEFAULT NULL,
  proteines FLOAT DEFAULT NULL,
  bio smallint DEFAULT 0
);

CREATE TABLE IF NOT EXISTS utilisateur (
  id SERIAL PRIMARY KEY,
  nom VARCHAR(100) DEFAULT NULL,
  prenom VARCHAR(100) DEFAULT NULL,
  email VARCHAR(255) NOT NULL UNIQUE
);

In [ ]:
INSERT INTO aliment VALUES 
(1,'pomme','sans marque',19.1,72,0.2,0.4,0),
(2,'poire','sans marque',27.5,134,0.2,1.1,1),
(3,'banane','chiquita',24,101,0.3,1.1,0),
(4,'jambon','herta',0.2,34,0.8,6.6,0),
(5,'compote','andros',11,51,0,0.5,0),
(6,'steak haché','charal',0.8,68,4.8,4.8,0),
(7,'saumon','guyader',0,206,12.3,22.1,0),
(8,'haricots verts','bonduelle',5.8,25,0.1,1.5,0),
(9,'riz','oncle benz',28.2,130,0.3,2.7,0),
(10,'pâtes completes','barilla',64,353,2.7,14,1),
(11,'blanc de dinde','père dodu',0.6,98,0.9,22,0),
(12,'filet de poulet','le gaulois',0,121,1.8,26.2,0),
(13,'muesli','bjorg',26.5,170,5,3.5,1),
(14,'café','carte noire',0,0,0,0,0),
(15,'jus d''orange','innocent',16,74,0,1.6,0),
(16,'jus de pomme','andros',24,100,0.2,0.2,1),
(17,'pomme de terre','doréac',21.1,104,0.2,2.8,0),
(18,'oeuf','naturalia',0.4,74,5.1,6.5,1),
(19,'baguette','sans marque',36.1,185,1.2,7.5,0),
(20,'lait d''amande','bjorg',6.1,80,5.3,1.5,1);

In [ ]:
INSERT INTO utilisateur VALUES 
(1,'durantay','quentin','qentin@gmail.com'),
(2,'dupont','marie','marie@hotmail.fr'),
(3,'miller','vincent','vm@yahoo.com'),
(4,'zuckerberg','marc','marc@gmail.com'),
(5,'paul','pierre','pp@orange.fr'),
(6,'de vauclerc','lisa','lisadv@gmail.com'),
(7,'gluntig','éléonore','glunt@sfr.com'),
(8,'cavill','henry','henry@outlook.fr'),
(9,'hopper','lionel','hpp@gmail.com'),
(10,'tember','fabienne','fabienne@yopmail.com');

In [ ]:
UPDATE utilisateu SET email = 'quentind@gmail.com' WHERE id = '1';

In [ ]:
SELECT * FROM utilisatuer WHERE id = 1

In [ ]:
UPDATE aliment SET nom = 'pomme golden', marque = 'Intermarche' WHERE id = 1;

In [ ]:
SELECT * FROM aliment

In [ ]:
SELECT * FROM aliment WHERE calories < 90;

In [ ]:
SELECT * FROM aliment WHERE calories < 90 ORDER BY calories DESC;

In [ ]:
SELECT COUNT(email) 
FROM utilisateur 
WHERE email LIKE '%gmail.com';

In [ ]:
SELECT COUNT(DISTINCT nom)  AS "produits différents contenant le mot pomme"
FROM aliment 
WHERE nom LIKE '%pomme%';

In [ ]:
SELECT MAX(sucre)  AS "taux de sucre maximum"
FROM aliment;

In [ ]:
SELECT ROUND(AVG(calories)) AS "calories moyennes des aliments > 30g"
FROM aliment 
WHERE calories > 30;

In [ ]:
CREATE VIEW utilisateurs_gmail_vw AS 
    (   SELECT * 
        FROM utilisateur 
        WHERE email LIKE '%gmail.com'
    );

In [ ]:
CREATE TABLE langue (
  id serial NOT NULL PRIMARY KEY ,
  nom varchar(100) NOT NULL
);

In [ ]:
SELECT * FROM utilisateur
JOIN langue
ON utilisateur.langue_id = langue.id
WHERE (utilisateur.email LIKE '%gmail%') AND (langue.id=1) ;

In [ ]:
-- This script was generated by the ERD tool in pgAdmin 4.
-- Please log an issue at https://redmine.postgresql.org/projects/pgadmin4/issues/new if you find any bugs, including reproduction steps.
BEGIN;


DROP TABLE IF EXISTS public.film_pays_de_sortie;

CREATE TABLE IF NOT EXISTS public.film_pays_de_sortie
(
    film_id integer NOT NULL,
    pays_de_sortie_id integer NOT NULL,
    PRIMARY KEY (pays_de_sortie_id, film_id)
);

DROP TABLE IF EXISTS public.note;

CREATE TABLE IF NOT EXISTS public.note
(
    id serial NOT NULL,
    note integer NOT NULL,
    PRIMARY KEY (id)
);

DROP TABLE IF EXISTS public.pays_de_sortie;

CREATE TABLE IF NOT EXISTS public.pays_de_sortie
(
    id serial NOT NULL,
    nom character varying(255),
    PRIMARY KEY (id)
);

DROP TABLE IF EXISTS public.film;

CREATE TABLE IF NOT EXISTS public.film
(
    id serial NOT NULL,
    date_de_sortie date,
    synopsis text,
    langue character varying(255),
    budget integer,
    nom character varying(255) NOT NULL,
    note_id integer NOT NULL,
    PRIMARY KEY (id)
);

ALTER TABLE IF EXISTS public.film_pays_de_sortie
    ADD CONSTRAINT pays_de_sortie_id FOREIGN KEY (pays_de_sortie_id)
    REFERENCES public.pays_de_sortie (id) MATCH SIMPLE
    ON UPDATE CASCADE
    ON DELETE RESTRICT
    NOT VALID;


ALTER TABLE IF EXISTS public.film_pays_de_sortie
    ADD FOREIGN KEY (film_id)
    REFERENCES public.film (id) MATCH SIMPLE
    ON UPDATE NO ACTION
    ON DELETE NO ACTION
    NOT VALID;


ALTER TABLE IF EXISTS public.film
    ADD FOREIGN KEY (note_id)
    REFERENCES public.note (id) MATCH SIMPLE
    ON UPDATE NO ACTION
    ON DELETE NO ACTION
    NOT VALID;

END;

In [ ]:
INSERT INTO note VALUES (1,1),(2,2),(3,3),(4,4),(5,5);
INSERT INTO pays_de_sortie VALUES (1,'france'),(2,'usa'),(3,'angleterre'),(4,'allemagne'),(5,'italie'),(6,'espagne');
INSERT INTO film VALUES 
	(1,'1998-04-04','L''histoire du plus grand paquebot de son époque, et de sa funeste fin.','anglais',200000000,'Titanic',4),
	(2,'2012-10-26','Dans cet épisode le plus sombre de la saga, James Bond retourne à ses origines.','anglais',200000000,'Skyfall',5),
	(3,'2017-01-25','Une histoire d''amour à Los Angeles sous forme de comédie musicale.','anglais',30000000,'La La Land',3);
	


INSERT INTO film_pays_de_sortie VALUES (1,1),(2,1),(3,1),(1,2),(2,3),(3,3),(1,4),(3,5),(3,6);

In [ ]:
ALTER TABLE aliment DROP bio;

In [ ]:
CREATE TABLE lieu (
id serial NOT NULL  PRIMARY KEY,
nom VARCHAR(100) NOT NULL,
type VARCHAR(100) NOT NULL
);

In [ ]:
CREATE TABLE aliment_lieu (
aliment_id INT NOT NULL,
lieu_id INT NOT NULL,
FOREIGN KEY (aliment_id) REFERENCES aliment (id) ON DELETE RESTRICT ON UPDATE CASCADE,
FOREIGN KEY (lieu_id) REFERENCES lieu (id) ON DELETE RESTRICT ON UPDATE CASCADE,
PRIMARY KEY (aliment_id, lieu_id)
);